@import '../../styles/default';

.Search {
  width: 100%;
  form {
    width: 87%;
    max-width: 500px;
    display: flex;
    align-items: center;
    margin: auto;

    .search__icon {
      position: absolute;
      padding: 0 0.8rem;
      fill: $LightGrey;
    }
    input {
      box-shadow: $BiggerShadow;
      font-size: 1rem;
      width: 100%;
      background: #232323;
      font-weight: 400;
      padding: 0.65rem 2.5rem;
      border-radius: 12px;
      border: none;
      color: white;
      transition: linear 400ms;
      &:focus-visible {
        outline: none;
        border: none;
        box-shadow: $RedShadowFocus;
      }
    }
  }
}
