@import '../../styles/default';

.Options {
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1000;

  .Options__inner {
    width: 85%;
    max-width: 700px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    background-color: $DefaultRed;
    text-transform: uppercase;
    box-shadow: $defaultShadow;
    a {
      color: #dedede;
      text-decoration: none;
      font-weight: 300;
      &:hover {
        font-weight: 900;
      }

      svg {
        fill: white;
        &:focus {
          fill: black;
          background-color: white;
        }
      }
    }
  }
}
