@import './styles/default';
* {
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: #111111;
}

h1,
h2,
h3,
h4 {
  color: white;
  font-weight: 600;
}

.App {
  text-align: center;
}
